@font-face {
  font-family: Kaushan400;
  src: url(../fonts/Kaushan400);
}

@font-face {
  font-family: Montserrat700;
  src: url(../fonts/Montserrat700);
}

@font-face {
  font-family: Raleway400;
  src: url(../fonts/Raleway400);
}

@font-face {
  font-family: Raleway500italic;
  src: url(../fonts/Raleway500italic);
}

@font-face {
  font-family: Raleway600;
  src: url(../fonts/Raleway600);
}

@font-face {
  font-family: Raleway700;
  src: url(../fonts/Raleway700);
}

@font-face {
  font-family: Raleway900;
  src: url(../fonts/Raleway900);
}

* *:after *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Raleway400;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------container---------- */
.container {
  margin: 0;
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ----------header---------- */
.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
}

.header__nav {
  font-family: Raleway600;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 15px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: color 0.2s linear;
}

.nav__link::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0;
  background-color: #f4bf87;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.nav__link:hover {
  color: #f4bf87;
}

.nav__link:hover::after {
  opacity: 1;
}

/* ----------banner---------- */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/01_banner/Rectangle\ 2.jpg) center no-repeat;
  background-size: cover;
  /* width: 100%;
  height: 100vh; */
}

.banner__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-top: 177px;
  padding-bottom: 116px;
}

.banner__suptitle {
  font-family: Kaushan400;
  font-size: 64px;
  line-height: 93px;
  font-weight: normal;
  margin: 0;
  /* text-align: center; */
  color: #ffffff;
}

.banner__title {
  font-family: Montserrat700;
  font-size: 144px;
  line-height: 176px;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
  /* text-align: center; */
}

.banner__title::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 44px auto 0;
  background-color: #ffffff;
}

.btn {
  font-weight: bold;
  font-size: 24px;

  display: inline-block;
  vertical-align: top;
  padding: 12px 60px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 72px;
  border: 3px solid #fff;
  transition: color 0.2s linear, background 0.2s linear,
    border-color 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #f4bf87;
}

.btn:active {
  border-color: #f4bf87;
}

/* ----------slider---------- */
.banner__slider {
  width: 100%;
  /* vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; */
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  opacity: 0.7;
  padding: 20px 0;
  border-top: 3px solid #fff;
  text-transform: uppercase;
  transition: opacity 0.2s linear;
  position: relative;
}

.slider__item:hover {
  opacity: 1;
}

.slider__num {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.slider__item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38281;
}

/* ----------section---------- */
.section {
  text-align: center;
}

.section___suptitle {
  font-family: Kaushan400;
  font-size: 30px;
  line-height: 44px;
  margin: 0;
  padding: 18px 0;
  margin-top: 42px;
}

.section__title {
  font-family: Raleway900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  padding: 20px 0;
}

.section__text::before {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  margin: 0 auto 36px;
  background-color: #f38281;
}

.section__text {
  color: #000000;
}

/* ---------- about ---------- */
.about {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
}

.about__item {
  width: 30%;
  background-color: #95e1d3;
  position: relative;
}

.about__img:hover {
  opacity: 0.8;
}

.about__item:hover .about__img {
  transform: translate3d(-16px, -16px, 0);
}

.about__item:hover .about__text {
  opacity: 1;
}

.about__img {
  display: block;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.about__text {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

/* ---------- futures ---------- */
.futures {
  margin-top: 108px;
  background-color: #95e1d3;
}

.futures__items {
  display: flex;
}

.futures__item {
  flex: 1;
  border-left: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.futures__item:last-child {
  border-right: 1px solid #fff;
}

.futures__number {
  font-family: Raleway700;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  padding: 83px 0 16px 0;
}

.futures__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 58px;
}

/* ---------- amazing ---------- */

.amazing {
  display: flex;
  margin: 120px 0 120px 0;
  padding-bottom: 60px;
  /* flex-wrap: wrap; */
}

.amazing__item {
  flex: 1;
  padding-left: 120px;
  position: relative;
}

.amazing__icon {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
  margin-right: 40px;
}

.amazing__title {
  font-family: Raleway700;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 14px;
}

.amazing_text {
  padding-top: 33px;
}

/* ---------- devices ---------- */

.devices {
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url(../images/05_devices/unsplash_lpjb_UMOyx8.jpg) center no-repeat;
  background-size: cover;
  padding: 30px 0 60px 0;
}

.devices__all {
  position: relative;
  display: flex;
  justify-content: center;
}

.ipad {
  background-image: url(../images/05_devices/Rectangle\ 10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

.iphone {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.iphone img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(100%, -10%);
  height: 80%;
}

/* ---------- servise ---------- */

.servise {
  margin-bottom: ;
}

.servise__info {
  display: flex;
  padding-top: 42px;
}

.info__item {
  flex: 1;
}
