* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 375px;
  max-height: 100vh;
  padding: 45px 38px 30px;
  border: 1px solid gray;
}

.wrapper_logo {
  margin-bottom: 95px;
  text-align: center;
}

.wrapper_form {
  margin-bottom: 65px;
}

.form_title {
  margin-bottom: 40px;
}

.form_title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 49px;
  line-height: 57px;
  color: #1a1a1a;
}

.form_title p {
  position: absolute;
  left: 10.13%;
  right: 42.93%;
  top: 37.56%;
  bottom: 60.47%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #1a1a1a;
}

.form_item {
  margin-bottom: 20px;
}

.form_item: :last-of-type {
  margin-bottom: 18px;
}

.form_item input {
  width: 100%;
  padding: 14px 24px 16px;
  border: 1px solid currentColor;
}

.form_title input::placeholder {
  color: rgba(26, 26, 26, 0.56);
}

.form_content {
  display: flex;
  flex-direction: column;
}

.form_content > button {
  padding: 16px;
  background: #e70b89;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: uppercase;
}

.form_content > a {
  align-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
